.questions {
  min-height: 350px;
  padding-top: 200px;
  padding-bottom: 105px;
  background: linear-gradient(90deg, rgb(245, 245, 245) 35.5%, rgb(255, 255, 255) 35.5%);
  &__messengers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  &__messenger {
    width: 60px;
    height: 60px;
    background: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    outline: 3px solid rgb(255, 255, 255);
  }
}
