.site-wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.container_narrow {
    max-width: 1150px;
    margin: 0 auto;
}

.container_wide {
    max-width: 1760px;
    margin: 0 auto;
}


/* .container_right {
    max-width: 1530px;
    margin-left: auto;
}
.container_left {
    max-width: 1530px;
    margin-right: auto;
} */

.warning {
    display: none;
}

body,
.fancybox-content,
.slick-track {
    transition: none;
}